.pagina-inicio {
  padding: 20px;
}

.pagina-inicio h1 {
  font-size: 2rem;
  color: #4CAF50;
  text-align: center;
}

.pagina-inicio p {
  text-align: justify;
}

/* Responsividad */
@media (max-width: 768px) {
  .pagina-inicio h1 {
    font-size: 1.5rem;
  }
}
