.pagina-citas {
    padding: 20px;
  }
  
  .pagina-citas h1 {
    font-size: 2rem;
    color: #F44336;
    text-align: center;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .pagina-citas h1 {
      font-size: 1.5rem;
    }
  }
  